/* body {
    background-color: #ffb8c4;
} */

#users h3 {
    color: #2b586c;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#users h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style:oblique;
}

.groom_bride {
    border-radius: 40%;
    height: 148px;
    width: 148px;
    margin: 3vh;
    box-shadow: 5px -5px wheat;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#profile {
    width: 250px;
    border-radius: 30%;
    border: 4px solid wheat;
    height: 250px;
}

#container2 {
    display: flex;
    margin-bottom: 3vh;
}

.groom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groom input {
    width: 148px;
}

button {
    width: fit-content;
    border-radius: 45%;
}
@media(max-width: 450px){
    #container1{
        display: none;
    }
}
#container1alternate1, #container1alternate2, #container1alternate3, #container2alternate, #container1alternate4{
    display: none;
}

#hero{
    margin-top: 4vh;
    /* background-color: antiquewhite; */
    text-align: center;
    display: block;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  